Source: drm-dkms-i915-ath9k
Section: kernel
Priority: optional
Maintainer: Timo Aaltonen <tjaalton@ubuntu.com>
Build-Depends: debhelper (>= 7.0.50~), dkms (>=1.95), quilt
Standards-Version: 3.9.4

Package: drm-dkms-i915-ath9k
Architecture: amd64 i386
Provides: drm-dkms-i915
Conflicts: drm-dkms-i915
Replaces: drm-dkms-i915
Depends: dkms (>= 1.95),
 findutils (>= 4),
 ${misc:Depends},
Description: drm driver in DKMS format.
 This package contains the drm driver in DKMS format.
